
body{
  margin-top: 2em;
  margin-left: 16%;
  margin-bottom: 10em;
  max-width: 40em;
  font-family: "DejaVu Sans", "Verdana", sans-serif;
  color: #404034;
  line-height: 1.4em;
}
@media(max-width: 56em){
  body{margin-left: 10%; margin-right: 4%;}
}
@media(max-width: 42em){
  body{margin-left: 6%; margin-right: 4%;}
}
@media(max-width: 26em){
  body{margin-left: 2%; margin-right: 1%; line-height: 1.2em;}
  ol, ul{padding-left: 2em;}
}
h1,h2,h3,h4{color: #463c20;}

a{color: #20506a; text-decoration: none;}
a:hover{color: #102a40; text-decoration: underline;}
pre, code{
  font-family: "FreeMono", "Courier New", monospace;
  color: #403020;
}
table.bt{border-collapse: collapse;}
table.bt td, table.bt th{
  border: 1px solid #babab2;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-align: left;
  vertical-align: top;
}
table.bt td{
  background-color: #f0f0ff;
}
table.bt th{
  background-color: #dae0f0;
}
.indent {
  margin-left: 1.6em;
}
dl.input dt{
  font-weight: bold;
  font-family: "FreeMono", "Courier New", monospace;
}
dl.input dd{
  margin-bottom: 1em;
}

table.navigation{
  border-collapse: collapse;
}
table.navigation td{
  border-left: 6px solid #004060;
  padding-left: 6px;
  padding-right: 14px;
  background-color: #f0f0f0;
}
