
body{
  font-size: 140%;
  overflow: hidden;
  font-family: "DejaVu Sans", "Verdana", sans-serif;
  background-color: #000000;
  color: #a0a0a0;
}

input{font-size: 90%;}
#menu{margin-left: 10px;}
#inputf{width: 320px;}
@media(max-width: 360px){
  #inputf{width: 240px;}
}
@media(max-width: 400px){
  #menu{margin-left: 0px;}
}
@media(max-width: 600px){
  body{margin-top: 0px;}
  body{font-size: 120%;}
}

input[type=text]{
  background-color: #002020ea;
  border: 2px solid #40406080;
  color: #b0b0b0;
  border-radius: 8px;
  padding-left: 6px;
}

input[type=button], select{
  background-color: #204040;
  color: #b0b0b0;
  border: 1px solid #606060;
  border-radius: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}

select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

canvas.main-canvas{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.mono{
  font-family: "DejaVu Sans Mono", monospace;
}

.hud{
  display: none;
  background-color: #0a0a00ea;
  border: 2px solid #404020;
  border-radius: 8px;
  padding: 1em;
  color: #909090;
  min-height: 8em;
  max-height: 74vh;
  overflow: auto;
}

.hud a{
  color: #b0b0a0;
}
.hud a:hover{
  color: #804020;
}

table.bt {
  border-collapse: collapse;
}
table.bt td, table.bt th{
  border: 2px solid #404040;
  background-color: #000000;
  color: #a0a0a0;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 80%;
}

table.bt th{
  background-color: #002020;
  color: #e0e0e0;
}
