
table.frame{
  border-spacing: 6px;
  margin-left: -6px;
}

th.frame, td.frame{
  padding: 0.5em;
  vertical-align: top;
}

th.frame{
  background-color: #dad8c4;
}

td.conclusion{
  border-top: 2px solid black;
  text-align: center;
}

td.premise{
  vertical-align: bottom;
  text-align: center;
}