
body{
  font-size: 140%;
  overflow: hidden;
  font-family: "DejaVu Sans", "Verdana", sans-serif;
}

input{font-size: 90%;}
#menu{margin-left: 10px;}
#inputf{width: 320px;}
@media(max-width: 360px){
  #inputf{width: 240px;}
}
@media(max-width: 400px){
  #menu{margin-left: 0px;}
}
@media(max-width: 600px){
  body{margin-top: 0px;}
  body{font-size: 120%;}
}

input[type=button]{
  background-image: linear-gradient(#ffffff,#ebebea);
  border: 1px solid #bababa;
  border-radius: 5px;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-bottom: 4px;
  margin-top: 1px;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 1px;
  margin-right: 1px;
}

input[type=button]:active{
  background-image: linear-gradient(#d0d0d0,#f0f0f0);
}

input[type=button]::-moz-focus-inner {
  border: 0;
}

input[type=button]:focus{
  outline: none;
}

#inputf{
  background-color: #fafaffea;
  border: 2px solid #00004080;
  border-radius: 8px;
  padding-left: 6px;
}

#inputf:focus{
  outline: none;
}

canvas.main-canvas{
  position: absolute;
  left: 0px;
  top: 0px;
  border: thin solid #a0a0a0;
  z-index: -1;
}

.mono{
  font-family: "DejaVu Sans Mono", monospace;
}

.hud{
  display: none;
  background-color: #000000b0;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 1em;
  color: #ffffff;
  min-height: 8em;
  max-height: 74vh;
  overflow: auto;
}

.hud a{
  color: #fafafa;
}
.hud a:hover{
  color: #a0d0e0;
}

table.bt {
  border-collapse: collapse;
}
table.bt td, table.bt th{
  border: 2px solid #a0a0a0;
  background-color: #ffffff;
  color: #404040;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 80%;
}

table.bt th{
  background-color: #204060;
  color: #f0f0f0;
}

