
body{
  margin-left: 2%;
  margin-bottom: 1em;
  font-family: "DejaVu Sans", "Verdana", sans-serif;
  color: #404034;
  line-height: 1.4em;
}
@media(max-width: 56em){
  body{margin-left: 10%; margin-right: 4%;}
}
@media(max-width: 42em){
  body{margin-left: 6%; margin-right: 4%;}
}
@media(max-width: 26em){
  body{margin-left: 2%; margin-right: 1%; line-height: 1.2em;}
  ol, ul{padding-left: 2em;}
}
a{
  color: #20506a;
}
a.box{
  text-decoration: none;
  background-image: linear-gradient(#ffffff,#ebebea);  
  border: 1px solid #bababa;
  border-radius: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
a:hover{color: #802a40; text-decoration: underline;}
pre, code{
  font-family: "DejaVu Sans Mono", "Menlo", "Consolas", monospace;
  color: #403020;
}
table.bt{border-collapse: collapse;}
table.bt td, table.bt th{
  border: 1px solid #babab2;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-align: left;
  vertical-align: top;
}
table.bt td{
  background-color: #fafaf0;
}
table.bt th{
  background-color: #eaeaca;
}
.indent{
  margin-left: 1.6em;
}
textarea{
  font-family: "DejaVu Sans Mono", "Menlo", "Consolas", monospace;
  font-size: 90%;
}

math{
  font-size: 120%;
}
.mono{
  font-family: "DejaVu Sans Mono", "Menlo", "Consolas", monospace;
}

div.container {
  display: flex;
}
div.left {
  border: 2px solid #b4b4b0;
  flex-grow: 0;
}
div.right {
  border: 2px solid #b4b4b0;
  flex-grow: 2;
  overflow: scroll;
  max-height: 32em;
  padding-left: 10px;
}

button{
  font-size: 100%;
  font-family: "DejaVu Sans", "Verdana", sans-serif;
  background-image: linear-gradient(#ffffff,#ebebea);
  border: 1px solid #bababa;
  border-radius: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 4px;
  margin-top: 1px;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 1px;
  margin-right: 1px;
}

button:active{
  background-image: linear-gradient(#d0d0d0,#f0f0f0);
}

button::-moz-focus-inner {
  border: 0;
}

button:focus{
  outline: none;
}

blockquote{
  border-left: 6px solid #406a80;
  padding-left: 8px;
}
